.wrapper{
     background: rgb(45, 45, 45);
     display: flex;
     height: 170vh;
     width: 110vw;
     overflow: hidden;
     margin-bottom: 14vmax;
}

.col_one{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 2rem;
    white-space: nowrap;
    min-width: 250px;
    position: relative;
    right: -3%;
    margin-right: 2rem;
}

.col_one img{
    height: 33%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


.col_two{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 2rem;
    white-space: nowrap;
    min-width: 250px;
    position: relative;
    right: -3%;
    margin-right: 2rem;
}

.col_two img{
    height: 33%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


.col_three{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 2rem;
    white-space: nowrap;
    min-width: 250px;
    position: relative;
    right: -3%;
    margin-right: 2rem;
}

.col_three img{
    height: 33%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


.col_four{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 2rem;
    white-space: nowrap;
    min-width: 250px;
    position: relative;
    right: -3%;
}

.col_four img{
    height: 33%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
