.wrapper{
    padding: 2vw 2vw;
    background: #1c1d20;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #fff;
    font-family: futura;
    font-size: 1.5vmax;
    line-height: 2.4vmax;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo h1:nth-child(2){
    position: relative;
}

.registered{
    font-size: .7vmax;
    position: absolute;
    top: -1vmax;
    right: .8vmax;
}

.socials{
    color: #fff;
    display: flex;
    gap: 2vmax;
    font-size: 1.5rem;
}

.copyright{
    color: #fff;
    font-family: helve-med;
    font-size: 1.5vmax;
    letter-spacing: .1rem;
}

.copyright_mobile{
    display: none;
}

/* mobile version */

@media (max-width:650px){
    .logo{
        flex-direction: row;
        gap: .5vmax;
    }

    .registered{
        right: -1vmax;
    }
    .copyright{
        display: none;
    }

    .copyright_mobile{
        color: #fff;
        font-family: helve-med;
        font-size: 1.5vmax;
        letter-spacing: .1rem;
        display: block;
        padding-top: .5rem;
    }

    .socials{
        font-size: 2.5vmax;
    }
}