.wrapper{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 14vmax;
    display: flex;
    flex-direction: column;

}
.heading{
   padding-bottom: 1rem;
}

.heading h1{
    font-size: 2.5rem;
    font-family: futura;
    text-transform: uppercase;
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* tablet version */
@media(max-width:1000px){
    .wrapper{
        align-items: center;
    }
}


/* mobile version */

@media (max-width:650px){
    

   .container{
    flex-wrap: wrap;
    justify-content: center;
   }

}
